@import url('https://font.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body
{
    font-family:'Poppins',sans-serif;
    color: rgb(28, 27, 27);
}
.division1
{
    display: flex;
    height:600px;
    width:1270px;
    padding-top: 100px;
    background-image: url("https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg");
    background-size: cover;
}
.DivForm
{
    padding-left: 425px;
}
form
{
    text-align: center;
    background-color: white;
    border: 1px solid rgba(12, 6, 6, 0.712);
    height: 350px;
    width: 400px;
    border-width: 1px;
    border-radius: 2%;
    background: transparent;
    backdrop-filter: blur(5px);
}
input[type=text],input[type=password]
{
    border-style:none;
    /* border-bottom: 4px solid white; */
    border-radius: 5px;
    width: 300px;
    height: 40px;
    outline: none;
}
input:focus
{
    /* background-image: linear-gradient(to right,lightblue,rgb(95, 95, 214));  */
    box-shadow: #6933ff;
    border-color: rgb(19, 18, 18);
}
input:hover
{
    box-shadow: 0 0 3px 2px #e76d40;
}
::placeholder
{
    font-family:'Poppins',sans-serif;
    font-size: 17px;
    padding-left: 20px;
}
.radioBut
{
    text-align:center;
}
.subButton
{
    height: 40px;
    width: 300px;
    font-size: 120%;
    background-color: #e76d40;
    border-radius: 5px;
    border: none;

}
.subButton:hover
{
    box-shadow: 0 0 3px 2px #e76d40;
}
a
{
    /* color: #e76d40; */
font-family: "Source Sans Pro",sans-serif;
font-weight: 400;
font-style: normal;
font-stretch: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: .02em;
text-decoration: none;
}
bh
{
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .02em;
    text-decoration: none;
}